<h3>BindAfterDemo</h3>

<input type="text" @bind="busqueda" @bind:after="Buscar" />

<p>
    personas encontradas:
</p>

<ul>
    @foreach(string persona in personasEncontradas)
    {
        <li>@persona</li>
    }
</ul>

@code {
    private string busqueda = string.Empty;

    private List<string> personasEncontradas = new List<string>();


    private async Task Buscar()
    {
        var personas = new List<string>
        {
            "Kevin Gonzalez",
            "Kevin Ruiz",
            "Kevin Josue",
            "Melanie Gonzalez",
            "Judith Callejas",
            "Daniel Gonzalez",
            "Daniel Callejas",
            "Daniel Issac"
        };

        await Task.Delay(1000);

        personasEncontradas = personas.Where(p => p.Contains(busqueda)).ToList();
    }
}
